<a href="https://colab.research.google.com/github/lienyunting/practica-ML/blob/master/data_preprocessing/Pandas%20DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 創建 DataFrame

In [0]:
import pandas as pd
import numpy as np

In [0]:
# np.random.randint
data = {'國家':['台灣', '日本', '韓國'],
        '人口': np.random.randint(500,size=3)}
data = pd.DataFrame(data)

In [0]:
data

   國家   人口
0  台灣  261
1  日本  176
2  韓國  288